on:
  workflow_call:
    inputs:
      command:
        required: false
        type: string
        default: yarn test:nuts
        description: "command to execute (ex: yarn test:nuts)"
      nodeVersion:
        required: false
        description: version of node to run tests against.  Use things like [lts/-1, lts/*, latest] to avoid hardcoding versions
        type: string
        default: lts/*
      os:
        required: false
        description: "runs-on property, ex: ubuntu-latest, windows-latest"
        type: string
        default: "ubuntu-latest"
      sfdxExecutablePath:
        required: false
        description: "Path to sfdx executable to be used by NUTs, defaults to ''"
        type: string
      useCache:
        required: false
        type: boolean
        default: true

jobs:
  nut:
    env:
      TESTKIT_AUTH_URL: ${{ secrets.TESTKIT_AUTH_URL}}
      TESTKIT_HUB_USERNAME: ${{ secrets.TESTKIT_HUB_USERNAME }}
      TESTKIT_JWT_CLIENT_ID: ${{ secrets.TESTKIT_JWT_CLIENT_ID }}
      TESTKIT_JWT_KEY: ${{ secrets.TESTKIT_JWT_KEY }}
      TESTKIT_HUB_INSTANCE: ${{ secrets.TESTKIT_HUB_INSTANCE }}
      ONEGP_TESTKIT_AUTH_URL: ${{ secrets.ONEGP_TESTKIT_AUTH_URL }}
      TESTKIT_SETUP_RETRIES: 2
    name: ${{ inputs.command }}
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: salesforcecli/github-workflows/.github/actions/windowsCachePerf@main
      - uses: google/wireit@setup-github-actions-caching/v1
        if: ${{ runner.os != 'Windows' }}
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.nodeVersion }}
          cache: yarn
      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
      - run: yarn config set network-timeout 600000
      - run: yarn global add sfdx-cli @salesforce/cli
      - run: yarn install
        if: ${{ steps.cache-nodemodules.outputs.cache-hit != 'true' }}
      - run: yarn compile
      - run: echo "TESTKIT_EXECUTABLE_PATH=${{inputs.sfdxExecutablePath}}" >> $GITHUB_ENV
        if: inputs.sfdxExecutablePath
      - name: NUTs attempt 1
        continue-on-error: true
        id: nut1
        run: ${{ inputs.command }}
      - name: NUTs attempt 2
        continue-on-error: true
        id: nut2
        if: steps.nut1.outcome == 'failure'
        run: |
          echo "::notice title=NUT Retry::NUT '${{inputs.command}}' failed and was retried."
          ${{ inputs.command }}
      - name: NUTs attempt 3
        if: steps.nut2.outcome == 'failure'
        run: |
          echo "::warning title=NUT Retry 2::NUT '${{inputs.command}}' failed twice and was retried."
          ${{ inputs.command }}
