on:
  workflow_call:
    inputs:
      cli:
        type: string
        required: true
        description: only needed if upload. sfdx or sf
      version:
        type: string
        required: true
        description: version for upload. do not include the 'v'
      channel:
        type: string
        required: true
        description: channel that the uploaded tarballs get promoted to
      nodeVersion:
        type: string
        default: lts/*
        description: node version to use for the tarball build
jobs:
  macos:
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      SFDX_HIDE_RELEASE_NOTES: true
      SF_DISABLE_TELEMETRY: true
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.nodeVersion }}
          cache: yarn
      - uses: salesforcecli/github-workflows/.github/actions/yarnInstallWithRetries@main
      # todo: download the macos tarball and pass that to the oclif pack:macos command
      - name: pack:macos
        uses: salesforcecli/github-workflows/.github/actions/retry@ew/retry-wrapper
        with:
          command: yarn pack:macos
      - run: yarn upload:macos
      - run: yarn channel:promote --cli ${{ inputs.cli }} --version ${{ inputs.version }} --target ${{ inputs.channel }} --platform macos
        name: Promote macos to ${{ inputs.channel }} channel
