on:
  workflow_call:

jobs:
  windows-unit-tests:
    strategy:
      matrix:
        # node_version: [lts/-1, lts/*, latest]
        node_version: [lts/-1, lts/*]
      fail-fast: false
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: google/wireit@setup-github-actions-caching/v1
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
          cache: yarn
      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}

      - uses: salesforcecli/github-workflows/.github/actions/yarnInstallWithRetries@main
        if: ${{ steps.cache-nodemodules.outputs.cache-hit != 'true' }}
      - run: yarn build
      - run: yarn test
        env:
          SF_DISABLE_TELEMETRY: true
