on:
  workflow_call:

jobs:
  determine-node-versions:
    outputs:
      nodeVersions: ${{ steps.determine-node-versions.outputs.nodeVersions }}
    runs-on: ubuntu-latest
    steps:
      - uses: salesforcecli/github-workflows/.github/actions/determineNodeVersions@main
        id: determine-node-versions
        with:
          nodeVersionOverride: ${{ vars.NODE_VERSION_OVERRIDE }} # default is 'lts/*'
          nodeDisableVersions: ${{ vars.NODE_DISABLE_VERSIONS }}

  windows-unit-tests:
    needs: determine-node-versions
    strategy:
      matrix:
        node_version: ${{ fromJSON(needs.determine-node-versions.outputs.nodeVersions) }}
      fail-fast: false
    runs-on: windows-latest
    steps:
      - run: git config --system core.longpaths true

      - uses: actions/checkout@v4

      # - uses: google/wireit@setup-github-actions-caching/v1
      #   continue-on-error: true

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: yarn

      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}

      - uses: salesforcecli/github-workflows/.github/actions/yarnInstallWithRetries@main
        if: ${{ steps.cache-nodemodules.outputs.cache-hit != 'true' }}

      - run: yarn build

      - name: yarn test
        uses: salesforcecli/github-workflows/.github/actions/retry@main
        with:
          command: yarn test
        env:
          SF_DISABLE_TELEMETRY: true
